@@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.Landing {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	color: #012461;
}

.Landing__header {
	background-color: #012461;
	margin-bottom: 94px;
	height: 500px;
	background-image: url('./images/background_image.png');
	background-size: cover;
}

.Header__section {
	width: 940px;
	margin: 0 auto;
	padding: 0 42px;
}

.Header__menu {
	padding: 24px 0;
}

.Menu__logotype {
	display: inline-block;
}

.Menu__list {
	margin-top: 32px;
	display: inline-block;
	float: right;
}


.Menu__link {
	font-weight: 900;
	font-size: 24px;
	margin-left: 24px;
	color: white;
	cursor: pointer;
	opacity: .75;
	transition: opacity ease .25s;
}

.Menu__link:hover {
	opacity: 1;
}


.Header__content {}
.Content__info {
	vertical-align: top;
	display: inline-block;
}
.Content__text {
	font-size: 60px;
	font-weight: 1000;
	width: 400px;
	color: white;
	margin-right: 100px;
}
.Content__button {
	text-align: center;
	margin-top: 30px;
	background-color: white;
	cursor: pointer;
	border-radius: 12px;
	height: 80px;
	width: 200px;
	opacity: 1;
	transition: opacity ease .25s;
	border: 2px solid black;
}

.Content_button:hover {
	opacity: .75;
}

.Button {
	display: inline-block;
	margin-top: 20px;
	color: #012461;
	font-size: 30px;
	font-weight: 900;
}

.Content__image {
	vertical-align: top;
	display: inline-block;
}

.Landing__content {
	width: 100%;
}

.Content__section {
	width: 940px;
	margin: 0 auto;
	padding: 0 42px;
	margin-bottom: 96px;
}

.Section__title {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: 900;
	margin-bottom: 24px;
}

.Section__text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.Section__lists {}

.Section_table {}

.Table {
	width: 100%;
	border-collapse: collapse;
}

.Tr {
	width: 100%
}

.Th {
	padding: 16px 24px;
	font-size: 24px;
	text-align: left;
	border: 4px solid #f1f1f1;
	width: 50%;
}

.Td {
    padding: 16px 24px;
	border: 4px solid #f1f1f1;
}

.Secion_form {}

.Form_item {
	display: inline-block;
	margin-right: 24px;
}

.Form_item_end {
	margin-right: 0;
}

.Form_label {
	display: block;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 8px;
}

.Form_imput {
	padding: 16px 24px;
	border: 4px solid #f1f1f1;
	outline: none;
	width: 330px;
}

.Form_select {
	padding: 16px 24px;
	border: 4px solid #f1f1f1;
	outline: none;
	width: 350px;
}

.Form_button {
	outline: none;
	border: 4px solid #002460;
	background-color: #002460;
	color: white;
	padding: 16px 24px;
	font-weight: 900;
}

.List__block {
	display: inline-block;
	margin-right: 38px;
}

.List__block_end {
	margin-right: 0;
}

.List__image {
	margin-bottom: 16px;
}

.List__image .Image {
	border-radius: 12px;
}

.Section__card {
	width: 200px;
	display: inline-block;
}

.Section__card_text {
	display: inline-block;
	margin-bottom: 15px;
}

.Card__info {
	font-size: 16px;
	font-weight: 400;
}


.Card__title_top {
	font-size: 24px;
	font-weight: 700;
	margin-top: 80px;
}

.Card__title {
	font-size: 24px;
	font-weight: 700;
	margin-top: 15px;
}

.Card__photo {
	display: inline-block;
}

.List__title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 8px;
	padding: 0 16px;
}

.List__info {
	font-size: 16px;
	font-weight: 400;
	padding: 0 16px;
}

.Landing__footer {
	background-color: #012461;
}
